@model AFSPortal.Models.Campaign

@{
    ViewData["PageTitle"] = Model.CampaignID == 0 ? "Create a new Campaign" : "Edit Campaign";
}


<div class="row">
    <div class="col-md-15">
        <div class="widget p-5" style="background-color:#212b36">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="ProjectID" value="@Model.CampaignID" />

                <div class="mb-3">
                    <ejs-textbox id="title" placeholder="ProjectName" ejs-for="ProjectName" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="ProjectName" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="icon" placeholder="Title" ejs-for="Title"floatLabelType="Always"></ejs-textbox>
                </div>

                <div class="mb-3">
                    <ejs-datepicker id="datepicker" placeholder="Starts From" ejs-for="StartFrom" floatLabelType="Always"></ejs-datepicker>
                </div>

                <div class="mb-3">
                    <ejs-datepicker id="datepicker1" placeholder="Ends On" ejs-for="EndOn" floatLabelType="Always"></ejs-datepicker>
                </div>

                <div class="mb-3">
                    <ejs-switch id="switch1" name="Status" checked="@Model.Status" ejs-for="Status" floatLabelType="Always"></ejs-switch>
                </div>

                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
</div>

