@model IEnumerable<AFSPortal.Models.Campaign>

@{
    ViewData["PageTitle"] = "Feedback Campaign";
    ViewData["PageActionText"] = "+ Create Campaign";
    ViewData["PageActionUrl"] = "/Campaign/AddOrEdit";
}


<div class="row">
    <div class="col-md-13">
        <ejs-grid id="categories" load="load" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="ProjectName" field="ProjectName" width="150px"></e-grid-column>
                <e-grid-column headerText="Title" field="Title" width="300px"></e-grid-column>
                <e-grid-column headerText="Starts From" field="StartFrom" ></e-grid-column>
                <e-grid-column headerText="Ends On" field="EndOn"></e-grid-column>
                <e-grid-column headerText="Status" template="#typeColumnTemplate" width="100px"></e-grid-column>
                <e-grid-column headerText="Action" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(Status)}
    <span class="badge bg-success">Active</span>
    ${else}
    <span class="badge bg-danger">Inactive</span>
    ${/if}
</script>

<script>
    function load(args) {
        this.columns[2].format = { type: 'date', format: 'dd/MM/yyyy' };
        this.columns[3].format = { type: 'date', format: 'dd/MM/yyyy' };
    }</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Campaign/AddOrEdit/${CampaignID}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
    </div>
</script>